
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
  opacity: .75;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
  shape-rendering: crispEdges;
}

.overlay {
  fill: none;
  pointer-events: all;
}